.app-wrapper {
  display: grid;

  grid-template-areas:
  "h h"
  "n p";

  grid-template: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  font-family: "Helvetica Neue";
}
.nav{
  grid-area: n;
  background-color: crimson;
}

.app-profile{
  grid-area: p;
  background-color: yellow;
}
.item {
  color: darkmagenta;
}
.app-wrapper-profile{
grid-area: p;
  background-color: darkolivegreen;
}



